<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link rel="icon" href="http://obj-cache.cloud.ruanbekker.com/favicon.ico">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <title>Searching...</title>

</head>

<body>

    <div class="container">
        <div style="background:transparent !important" class="jumbotron">
            <div style="font-family: 'Pacifico', cursive;">
                <a href="/">
                    <a href="/">
                        <center>
                            <h1>
                                PodMagic
                            </h1>
                        </center>
                    </a>
                </a>
            </div>
        </div>

        <form action="/search/results" method="post">
            <div class="input-group">
                <input type="text" class="form-control input-lg" name="input" placeholder="Search" autofocus>
                <div class="input-group-btn">
                    <button class="btn btn-primary btn-lg" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
                </div>
            </div>
        </form>


    </div>
    </div>
</body>

</html>